In [5]:
# global and  local variables
num=10
print(num)
def modify():
    global num
    num=100
modify()
print(num)

10
100

In [11]:
#toggle state function
#toggling a global flag
#manipulating the value in the global and local variables
is_active=False
def toggle_state():
    global is_active 
    is_active= not is_active
    return is_active
print(f"initial state:{is_active}")
toggle_state()
print(f"state after first toggle:{is_active}")
toggle_state()
print(f"state after secound toggle:{is_active}")
toggle_state()
print(f"state after third toggle:{is_active}")

initial state:False
state after first toggle:True
state after secound toggle:False
state after third toggle:True

In [17]:
#annotations
def add(a:int,b:int)->int:
    return a+b
a=int(input("enter a:"))
b=int(input("enter b:"))
print(f"resultant sum:{add(a,b)}")

enter a: 5
enter b: 6

resultant sum:11

In [41]:
'''
write a program to find the area of a rectangle of 2 values 
which was associated with a single annotations and 
return the values accordingly
'''
a=2
b=4
def area(a:int,b:int)->float:
    return a*b
print(f"area default:{area(a,b)}")
x=float(input("enter the lenght:"))
y=float(input("enter the breadth:"))
print(f"area of the rectangle is {area(x,y)}")
m=float(input("enter the lenght:"))
n=float(input("enter the breadth:"))
print(f"area of the rectangle is {area(m,n)}")

area default:8

enter the lenght: 5
enter the breadth: 6

area of the rectangle is 30.0

enter the lenght: 7.7
enter the breadth: 8.0

area of the rectangle is 61.6

In [45]:
#seperator function
from typing import List,Optional
def names(n:List[str],seperator:Optional[str]=' ')->str:
    return seperator.join(n)
print(names(['vijay','mark','ganesh']))
print(names(['CSE','ECE'],seperator='-'))

vijay mark ganesh
CSE-ECE

In [25]:
#tuple arg keyword functions
#program to find the sum of n user input values
#by tuple args syntax def udn(*args):
def sumnum(*args):
    return sum(args)
nums=input("enter numbers seperated by spaces:")
numbers=[float(x) for x in nums.split()]
print(numbers)
result=sumnum(*numbers)
print(f"Sum:{result}")

enter numbers seperated by spaces: 1 2 3 4

[1.0, 2.0, 3.0, 4.0]
Sum:10.0

In [33]:
'''
sort a tuple and reverse it by using string operations
'''
from typing import List,Union
def sortnum(*args):
    return sorted(args)
nums=input("enter numbers seperated by space:")
numbers=[int(x) for x in nums.split()]
result=sortnum(*numbers)
print(f"Sorted:{result}")
x=result[::-1]
print("descending:",x)

enter numbers seperated by space: 8 2 3 4 1 9 5

Sorted:[1, 2, 3, 4, 5, 8, 9]
descending: [9, 8, 5, 4, 3, 2, 1]

In [39]:
'''
keyword arguments
* -> numbers
**args -> string with value uisng a dictionary
key-value pair
'''
def info(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")
info(name='Ganesh',age=20)

name:Ganesh
age:20

In [43]:
'''
keyword arguments
* -> numbers
**args -> string with value uisng a dictionary
key-value pair
'''
def info(hi,**kwargs):
    print(hi)
    for key,value in kwargs.items():
        print(f"{key}=>{value}")
info("Hello!",name='Ganesh',age='20',city='Vijayawada',language='English')

Hello!
name=>Ganesh
age=>20
city=>Vijayawada
language=>English

In [ ]:
# 3 marks with different subjects