In [ ]:
'''
list comprehensions
'''

In [1]:
# to print squares from 1 to 10 numbers
print([num**2 for num in range(1,11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# to print even numbers from 1 to 10
print([x for x in range(1,11) if x%2==0])

[2, 4, 6, 8, 10]

In [6]:
words=['apple','banana','cherry']
print([word.upper() for word in words])

['APPLE', 'BANANA', 'CHERRY']